<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Slacker Articles</title>
  <link rel="stylesheet" href="./stylesheets/server.css">
</head>

<body>
  <h1> Slacker Articles </h1>
  <h2> Welcome to Slacker Articles! You can click below to read all of the independent user-uploaded articles, or submit your own! </h2>
  <h3><a href="/articles">Complete List of Articles</a></h3>
  <h3><a href="/articles/new">Enter A New Article</a></h3>
</body>
</html>
