<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Slacker Articles - @article_name</title>
  <link rel="stylesheet" href="./stylesheets/server.css">
</head>

<body>
  <h1> <%= @current_article[0] %> </h1>
  <h2> <%= @current_article[1] %> </h2>
  <p> <%= @current_article[2] %> </p>

  <a href="/">Click Here To Return To The Homepage</a>
</body>
</html>
